geopandas==0.10.2
pyrosm=
requests==2.23.0
matplotlib==3.2.2
mapclassify=2.4.3
pygeos==0.13
beautifulsoup4==4.11.1
xlrd==2.0.1
dms2dec==0.1
alphashape==1.3.1
owslib==0.27.2
geopy==2.2.0
pyshp==2.1.3
bmi-arcgis-restapi==2.2.2
