$body-background-color: $white;
$sidebar-color: $fbk-grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $fbk-grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $blue-200;
$body-heading-color: $blue-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: #2c84fa;
$btn-primary-color: #2c84fa !default;
$base-button-color: #f7f7f7 !default;
